<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops! something went wrong</title>
    <style>
        body{
            background-color:gold;
            text-align: center;
        }
        h1{
            color: brown;
        }
        h2{
            color:crimson;

        }
        h3{
            color: darkred;
        }
    </style>
</head>
<body>
    <div>
    <img src="../static/wrong.png" alt="image not found">
    <h1>Oops</h1>
    <h2>something went wrong...</h2>
    <h3>please try again...</h3>
</div>
<script>
    alert('Something went wrong')
</script>
</body>
</html>